@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Error</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="text-center">
                    <h1 class="display-4">Oops! Something went wrong.</h1>
                    <h2 class="lead text-danger">We're sorry, but it seems there was an issue with your authentication.</h2>
                </div>
                <div class="text-center mt-4">
                    @Html.ActionLink("Try Logging In Again", "UserLogin", "User", null, new { @class = "btn btn-secondary" })
                </div>
                <div class="mt-3">
                    <p class="text-secondary">If the problem persists, please contact our support team for assistance.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
